@import "~host-css-variable/host-variable";
$host: host("child");

:host {
  @include hvar(--width, 100%);
  @include hvar(--height, 100%);
  @include hvar(--side-padding, 8px);
}

:host {
  display: block;
  width: calc(hvar(--width) - hvar(--side-padding) * 2);
  height: hvar(--height);
  padding: 0 hvar(--side-padding);

  outline: skyblue solid 1px;

  div {
    width: calc(hvar(--width) - hvar(--side-padding) * 2);
    height: calc(hvar(--height) - 32px);
    outline: skyblue solid 1px;
  }
}
